<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,918},{78,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{78,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>e_b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1927},{78,60}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{78,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>e_b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,838},{78,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{78,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>e_b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,758},{78,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{78,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>e_b5.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,838},{78,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{78,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>e_b6.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1927},{78,60}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{78,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>e_f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,678},{78,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{78,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>e_f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,598},{78,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{78,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>e_f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1927},{78,60}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{78,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>e_f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,518},{78,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{78,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>e_f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1927},{78,60}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{78,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>e_f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,598},{78,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{78,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,390},{126,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{126,58}}</string>
                <key>sourceSize</key>
                <string>{128,58}</string>
            </dict>
            <key>f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,132},{128,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,58}}</string>
                <key>sourceSize</key>
                <string>{128,58}</string>
            </dict>
            <key>f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{128,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,58}}</string>
                <key>sourceSize</key>
                <string>{128,58}</string>
            </dict>
            <key>f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,262},{126,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{126,58}}</string>
                <key>sourceSize</key>
                <string>{128,58}</string>
            </dict>
            <key>farback_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>farback_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>laser.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,998},{30,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,4}}</string>
                <key>sourceSize</key>
                <string>{30,4}</string>
            </dict>
            <key>shot.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,998},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>starfield.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{960,639}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,639}}</string>
                <key>sourceSize</key>
                <string>{960,639}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>space-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1abb0f6e9fbe6d1f193b162b514d52eb:1/1$</string>
            <key>textureFileName</key>
            <string>space-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
